:root {
  /* --primary: #636afa; */
  /* --primary: #4caf50; */
  --primary: #041e42;
  --secondary: #ffffff;
  /* --brown: #795548; */
  --brown: #02b388;
  --gray: #757575;
  --aqua: #4dd0e1;
  --red: #ff5722;
}
